html{
    scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

a{
    text-decoration: none;
}

.m_padding{ //Mobile Padding
    padding: 8vw;
}

